In [204]:
import pandas as pd
import numpy as np
import os
import time

from tqdm import tqdm
from urllib.request import urlopen
from bs4 import BeautifulSoup
from datetime import datetime

In [259]:
def naver_stock_func(input_code):

    url = 'https://finance.naver.com'
    url_sub = '/item/sise_day.nhn?code='
    page = urlopen(url + url_sub + input_code + '&page=1')
    naver_stock_soup = BeautifulSoup(page, 'html.parser')
    day_navi = naver_stock_soup.find('table', class_ = 'Nnavi')
    number = day_navi.find_all('a')
    last_number = number[-1]['href'].split('=')[-1]
    
    result_list = []

    for i in range(1, int(last_number) + 1):
        page = urlopen(url + url_sub + input_code + '&page=' + str(i))
        day_soup = BeautifulSoup(page, 'html.parser')
        day_data = day_soup.find('table', class_='type2')
      
        naver_stock_day = []

        for n in range(70):
            day = naver_stock.find_all('span')[n].get_text().strip()
            naver_stock_day.append(day)
            if len(naver_stock_day) == 7:
                result_list.append(naver_stock_day)
                naver_stock_day =[]
        print(str(i+1) + '번째 저장 ')
    columns = ['date','close','prev','start', 'high', 'low','volume']
        
    df = pd.DataFrame(
            result_list
        , columns = columns
     )
    
    today = datetime.today().strftime("%m.%d")
    path = './data/' + today + ' ' + input_code + '/'
    os.makedirs(path, exist_ok = True)
    
    df.to_csv(
        path + input_code +'.csv' 
        , index = False
        , encoding = 'utf-8-sig'
    )

    print('코드 : ' + input_code + ' 저장 완료')
    return df

In [260]:
naver_stock_func('000020')

2번째 저장
3번째 저장
4번째 저장
5번째 저장
6번째 저장
7번째 저장
8번째 저장
9번째 저장
10번째 저장
11번째 저장
12번째 저장
13번째 저장
14번째 저장
15번째 저장
16번째 저장
17번째 저장
18번째 저장
19번째 저장
20번째 저장
21번째 저장
22번째 저장
23번째 저장
24번째 저장
25번째 저장
26번째 저장
27번째 저장
28번째 저장
29번째 저장
30번째 저장
31번째 저장
32번째 저장
33번째 저장
34번째 저장
35번째 저장
36번째 저장
37번째 저장
38번째 저장
39번째 저장
40번째 저장
41번째 저장
42번째 저장
43번째 저장
44번째 저장
45번째 저장
46번째 저장
47번째 저장
48번째 저장
49번째 저장
50번째 저장
51번째 저장
52번째 저장
53번째 저장
54번째 저장
55번째 저장
56번째 저장
57번째 저장
58번째 저장
59번째 저장
60번째 저장
61번째 저장
62번째 저장
63번째 저장
64번째 저장
65번째 저장
66번째 저장
67번째 저장
68번째 저장
69번째 저장
70번째 저장
71번째 저장
72번째 저장
73번째 저장
74번째 저장
75번째 저장
76번째 저장
77번째 저장
78번째 저장
79번째 저장
80번째 저장
81번째 저장
82번째 저장
83번째 저장
84번째 저장
85번째 저장
86번째 저장
87번째 저장
88번째 저장
89번째 저장
90번째 저장
91번째 저장
92번째 저장
93번째 저장
94번째 저장
95번째 저장
96번째 저장
97번째 저장
98번째 저장
99번째 저장
100번째 저장
101번째 저장
102번째 저장
103번째 저장
104번째 저장
105번째 저장
106번째 저장
107번째 저장
108번째 저장
109번째 저장
110번째 저장
111번째 저장
112번째 저장
113번째 저장
114번째 저장
115번째 저장
116번째 저장
117번째 저장
118번째 저장
119번째 저장
120번째 저장
121번째 저장
122번째 저장
123번째 저장
124번째 저장
125번째 저장
126번째 저장
127번째 저장
128번째 저장
129번째 저장
130번째 저장
131번째 저장
132번째 저장
133번째 저장
134번째 저장
135번째 저장
136번째 저장
137번째 저장
138번째 저장
139번째 저장
140번째 저장
141번째 저장
142번째 저장
143번째 저장
144번째 저장
145번째 저장
146번째 저장
147번째 저장
148번째 저장
149번째 저장
150번째 저장
151번째 저장
152번째 저장
153번째 저장
154번째 저장
155번째 저장
156번째 저장
157번째 저장
158번째 저장
159번째 저장
160번째 저장
161번째 저장
162번째 저장
163번째 저장
164번째 저장
165번째 저장
166번째 저장
167번째 저장
168번째 저장
169번째 저장
170번째 저장
171번째 저장
172번째 저장
173번째 저장
174번째 저장
175번째 저장
176번째 저장
177번째 저장
178번째 저장
179번째 저장
180번째 저장
181번째 저장
182번째 저장
183번째 저장
184번째 저장
185번째 저장
186번째 저장
187번째 저장
188번째 저장
189번째 저장
190번째 저장
191번째 저장
192번째 저장
193번째 저장
194번째 저장
195번째 저장
196번째 저장
197번째 저장
198번째 저장
199번째 저장
200번째 저장
201번째 저장
202번째 저장
203번째 저장
204번째 저장
205번째 저장
206번째 저장
207번째 저장
208번째 저장
209번째 저장
210번째 저장
211번째 저장
212번째 저장
213번째 저장
214번째 저장
215번째 저장
216번째 저장
217번째 저장
218번째 저장
219번째 저장
220번째 저장
221번째 저장
222번째 저장
223번째 저장
224번째 저장
225번째 저장
226번째 저장
227번째 저장
228번째 저장
229번째 저장
230번째 저장
231번째 저장
232번째 저장
233번째 저장
234번째 저장
235번째 저장
236번째 저장
237번째 저장
238번째 저장
239번째 저장
240번째 저장
241번째 저장
242번째 저장
243번째 저장
244번째 저장
245번째 저장
246번째 저장
247번째 저장
248번째 저장
249번째 저장
250번째 저장
251번째 저장
252번째 저장
253번째 저장
254번째 저장
255번째 저장
256번째 저장
257번째 저장
258번째 저장
259번째 저장
260번째 저장
261번째 저장
262번째 저장
263번째 저장
264번째 저장
265번째 저장
266번째 저장
267번째 저장
268번째 저장
269번째 저장
270번째 저장
271번째 저장
272번째 저장
273번째 저장
274번째 저장
275번째 저장
276번째 저장
277번째 저장
278번째 저장
279번째 저장
280번째 저장
281번째 저장
282번째 저장
283번째 저장
284번째 저장
285번째 저장
286번째 저장
287번째 저장
288번째 저장
289번째 저장
290번째 저장
291번째 저장
292번째 저장
293번째 저장
294번째 저장
295번째 저장
296번째 저장
297번째 저장
298번째 저장
299번째 저장
300번째 저장
301번째 저장
302번째 저장
303번째 저장
304번째 저장
305번째 저장
306번째 저장
307번째 저장
308번째 저장
309번째 저장
310번째 저장
311번째 저장
312번째 저장
313번째 저장
314번째 저장
315번째 저장
316번째 저장
317번째 저장
318번째 저장
319번째 저장
320번째 저장
321번째 저장
322번째 저장
323번째 저장
324번째 저장
325번째 저장
326번째 저장
327번째 저장
328번째 저장
329번째 저장
330번째 저장
331번째 저장
332번째 저장
333번째 저장
334번째 저장
335번째 저장
336번째 저장
337번째 저장
338번째 저장
339번째 저장
340번째 저장
341번째 저장
342번째 저장
343번째 저장
344번째 저장
345번째 저장
346번째 저장
347번째 저장
348번째 저장
349번째 저장
350번째 저장
351번째 저장
352번째 저장
353번째 저장
354번째 저장
355번째 저장
356번째 저장
357번째 저장
358번째 저장
359번째 저장
360번째 저장
361번째 저장
362번째 저장
363번째 저장
364번째 저장
365번째 저장
366번째 저장
367번째 저장
368번째 저장
369번째 저장
370번째 저장
371번째 저장
372번째 저장
373번째 저장
374번째 저장
375번째 저장
376번째 저장
377번째 저장
378번째 저장
379번째 저장
380번째 저장
381번째 저장
382번째 저장
383번째 저장
384번째 저장
385번째 저장
386번째 저장
387번째 저장
388번째 저장
389번째 저장
390번째 저장
391번째 저장
392번째 저장
393번째 저장
394번째 저장
395번째 저장
396번째 저장
397번째 저장
398번째 저장
399번째 저장
400번째 저장
401번째 저장
402번째 저장
403번째 저장
404번째 저장
405번째 저장
406번째 저장
407번째 저장
408번째 저장
409번째 저장
410번째 저장
411번째 저장
412번째 저장
413번째 저장
414번째 저장
415번째 저장
416번째 저장
417번째 저장
418번째 저장
419번째 저장
420번째 저장
421번째 저장
422번째 저장
423번째 저장
424번째 저장
425번째 저장
426번째 저장
427번째 저장
428번째 저장
429번째 저장
430번째 저장
431번째 저장
432번째 저장
433번째 저장
434번째 저장
435번째 저장
436번째 저장
437번째 저장
438번째 저장
439번째 저장
440번째 저장
441번째 저장
442번째 저장
443번째 저장
444번째 저장
445번째 저장
446번째 저장
447번째 저장
448번째 저장
449번째 저장
450번째 저장
451번째 저장
452번째 저장
453번째 저장
454번째 저장
455번째 저장
456번째 저장
457번째 저장
458번째 저장
459번째 저장
460번째 저장
461번째 저장
462번째 저장
463번째 저장
464번째 저장
465번째 저장
466번째 저장
467번째 저장
468번째 저장
469번째 저장
470번째 저장
471번째 저장
472번째 저장
473번째 저장
474번째 저장
475번째 저장
476번째 저장
477번째 저장
478번째 저장
479번째 저장
480번째 저장
481번째 저장
482번째 저장
483번째 저장
484번째 저장
485번째 저장
486번째 저장
487번째 저장
488번째 저장
489번째 저장
490번째 저장
491번째 저장
492번째 저장
493번째 저장
494번째 저장
495번째 저장
496번째 저장
497번째 저장
498번째 저장
499번째 저장
500번째 저장
501번째 저장
502번째 저장
503번째 저장
504번째 저장
505번째 저장
506번째 저장
507번째 저장
508번째 저장
509번째 저장
510번째 저장
511번째 저장
512번째 저장
513번째 저장
514번째 저장
515번째 저장
516번째 저장
517번째 저장
518번째 저장
519번째 저장
520번째 저장
521번째 저장
522번째 저장
523번째 저장
524번째 저장
525번째 저장
526번째 저장
527번째 저장
528번째 저장
529번째 저장
530번째 저장
531번째 저장
532번째 저장
533번째 저장
534번째 저장
535번째 저장
536번째 저장
537번째 저장
538번째 저장
539번째 저장
540번째 저장
541번째 저장
542번째 저장
543번째 저장
544번째 저장
545번째 저장
546번째 저장
547번째 저장
548번째 저장
549번째 저장
550번째 저장
551번째 저장
552번째 저장
553번째 저장
554번째 저장
555번째 저장
556번째 저장
557번째 저장
558번째 저장
559번째 저장
560번째 저장
561번째 저장
562번째 저장
563번째 저장
564번째 저장
565번째 저장
566번째 저장
567번째 저장
568번째 저장
569번째 저장
570번째 저장
571번째 저장
572번째 저장
573번째 저장
574번째 저장
575번째 저장
576번째 저장
577번째 저장
578번째 저장
579번째 저장
580번째 저장
581번째 저장
582번째 저장
583번째 저장
584번째 저장
585번째 저장
586번째 저장
587번째 저장
588번째 저장
589번째 저장
590번째 저장
591번째 저장
592번째 저장
593번째 저장
594번째 저장
595번째 저장
596번째 저장
597번째 저장
598번째 저장
599번째 저장
600번째 저장
601번째 저장
602번째 저장
603번째 저장
604번째 저장
605번째 저장
606번째 저장
607번째 저장
608번째 저장
609번째 저장
610번째 저장
611번째 저장
코드 : 000020 저장 완료

            date   close   prev   start    high     low     volume
0     2020.10.16  21,550  1,200  22,750  22,950  20,750    904,230
1     2020.10.15  22,750  1,100  23,850  23,850  22,450    508,031
2     2020.10.14  23,850    450  23,900  24,200  23,600    420,287
3     2020.10.13  24,300    300  24,200  24,550  23,900    426,678
4     2020.10.12  24,000    150  24,500  24,950  22,950    540,131
...          ...     ...    ...     ...     ...     ...        ...
6095  2020.10.08  24,150    650  23,600  24,850  23,600    716,608
6096  2020.10.07  23,500    250  23,500  23,550  23,100    322,425
6097  2020.10.06  23,750    350  24,100  24,350  23,350    463,912
6098  2020.10.05  24,100  2,250  22,200  24,350  21,700  1,094,057
6099  2020.09.29  21,850    150  22,000  22,050  20,700    551,123

[6100 rows x 7 columns]

In [368]:
df = pd.read_csv(
    './data/10.16 000020/000020.csv'
    , encoding = 'utf-8-sig'
    , thousands = ','
)
df

            date  close  prev  start   high    low   volume
0     2020.10.16  21550  1200  22750  22950  20750   904230
1     2020.10.15  22750  1100  23850  23850  22450   508031
2     2020.10.14  23850   450  23900  24200  23600   420287
3     2020.10.13  24300   300  24200  24550  23900   426678
4     2020.10.12  24000   150  24500  24950  22950   540131
...          ...    ...   ...    ...    ...    ...      ...
6095  2020.10.08  24150   650  23600  24850  23600   716608
6096  2020.10.07  23500   250  23500  23550  23100   322425
6097  2020.10.06  23750   350  24100  24350  23350   463912
6098  2020.10.05  24100  2250  22200  24350  21700  1094057
6099  2020.09.29  21850   150  22000  22050  20700   551123

[6100 rows x 7 columns]

In [369]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [370]:
df['label'] = df['close'].shift(1)
df

            date  close  prev  start   high    low   volume    label
0     2020.10.16  21550  1200  22750  22950  20750   904230      NaN
1     2020.10.15  22750  1100  23850  23850  22450   508031  21550.0
2     2020.10.14  23850   450  23900  24200  23600   420287  22750.0
3     2020.10.13  24300   300  24200  24550  23900   426678  23850.0
4     2020.10.12  24000   150  24500  24950  22950   540131  24300.0
...          ...    ...   ...    ...    ...    ...      ...      ...
6095  2020.10.08  24150   650  23600  24850  23600   716608  24000.0
6096  2020.10.07  23500   250  23500  23550  23100   322425  24150.0
6097  2020.10.06  23750   350  24100  24350  23350   463912  23500.0
6098  2020.10.05  24100  2250  22200  24350  21700  1094057  23750.0
6099  2020.09.29  21850   150  22000  22050  20700   551123  24100.0

[6100 rows x 8 columns]

In [371]:
df.dropna(inplace=True)
df

            date  close  prev  start   high    low   volume    label
1     2020.10.15  22750  1100  23850  23850  22450   508031  21550.0
2     2020.10.14  23850   450  23900  24200  23600   420287  22750.0
3     2020.10.13  24300   300  24200  24550  23900   426678  23850.0
4     2020.10.12  24000   150  24500  24950  22950   540131  24300.0
5     2020.10.08  24150   650  23600  24850  23600   716608  24000.0
...          ...    ...   ...    ...    ...    ...      ...      ...
6095  2020.10.08  24150   650  23600  24850  23600   716608  24000.0
6096  2020.10.07  23500   250  23500  23550  23100   322425  24150.0
6097  2020.10.06  23750   350  24100  24350  23350   463912  23500.0
6098  2020.10.05  24100  2250  22200  24350  21700  1094057  23750.0
6099  2020.09.29  21850   150  22000  22050  20700   551123  24100.0

[6099 rows x 8 columns]

In [372]:
y_target = df['label']
X_features = df['close']

In [373]:
y_target

1       21550.0
2       22750.0
3       23850.0
4       24300.0
5       24000.0
         ...
6095    24000.0
6096    24150.0
6097    23500.0
6098    23750.0
6099    24100.0
Name: label, Length: 6099, dtype: float64

In [374]:
X_features

1       22750
2       23850
3       24300
4       24000
5       24150
        ...
6095    24150
6096    23500
6097    23750
6098    24100
6099    21850
Name: close, Length: 6099, dtype: int64

In [375]:
from sklearn.model_selection import train_test_split

In [376]:
X_train, X_test, y_train, y_test = \
train_test_split(
    X_features # 분리할 데이터
    , y_target
    , test_size = 0.2
    , random_state = 11
)

In [377]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# 위 알고리즘의 객체 생성
dt_clf = DecisionTreeClassifier(random_state = 11)
rf_clf = RandomForestClassifier(random_state = 11)
lr_clf = LogisticRegression()

In [378]:
X_train = X_train.values.reshape(-1,1)

In [380]:
X_test = X_test.values.reshape(-1,1)

In [381]:
# DecisionTreeClassifier 학습/예측/평가
dt_clf.fit(X_train, y_train)
dt_pred = dt_clf.predict(X_test)
print('DecisionTreeCalssifier 정확도: {0: .4f}'.format(accuracy_score(y_test, dt_pred)))

DecisionTreeCalssifier 정확도:  1.0000